*{
    box-sizing: border-box;
    
}


body{
    background: rgb(20, 20, 20);
    color: beige;
    padding-left: 10px;
    padding-right: 10px;    
    font-family: 'Poppins', sans-serif;
}


h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}
.contacto{
    grid-column: 1 / 3;
}

.formu{
    grid-column: 3 / 7;
}


.formulario{
    display: grid;
    padding: 15px;
}

.contenedor{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.logo{
    text-align: center;
    font-size: 3em;
}

.contenedor-form{
    box-shadow: 0 0 20px 0 rgb(255, 255, 255, .3);
}
.contenedor-form > *{
    padding: 10px;
}

.form-contacto{
    background-color: rgb(35, 35, 30);
}

.form-contacto form{

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-contacto p{
    margin: 0;
    padding: 10px;
}

.form-contacto form .block{
    grid-column: 1 / 3 ;
}

.form-contacto form button,
.form-contacto form input,
.form-contacto form textarea
{
    width: 100%;
    padding: 5px;
    background: none;
    color: beige;
    outline: none;
}

.form-contacto form button{
    background-color: rgb(75, 35, 30);
    padding: 7px;
    border: none;
    border-radius: 5px;

}

.form-contacto form button:hover,
.form-contacto form button:focus{
    background: brown;
    font-size: 1em;

}


.form-info{
    background-color: rgb(20, 20, 20);
}

.form-info h4,
.form-info ul,
.form-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}

.form-info ul {
    list-style: none;
    padding: 0;

}
.form-info ul li {
    padding: 7px;

}


@media (min-width: 700px) {
    /* body{
        padding: 0 4rem;
    } */
    .contenedor-form{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contenedor-form > *{
        padding:50px 
    }
}

span{
    color: red;
}

#envioMail{
    opacity: 0;
}

.redes{
    background-color: rgb(35, 35, 30);
    text-align: center;
    font-size: 30px;
    color: beige;
}

.redes a{
    display: inline-block;
    width: 40px;
    line-height: 40px;
}
